
.cursor{
    cursor:pointer;
    color:rgb(230, 8, 8);
    

}


.cursor2{
    cursor:pointer;
    color:rgb(230, 8, 8);
    margin: 0px 0px 0px 400px !important;

}
.text-decorator-none{
    text-decoration: none;
    margin: 0px 0px 0px 70px;
}

.cor-nave-bar{
    background-color: black	;
}


