.box1{
    background-color: #9f308d;
    height: 120px;
}

.box2{
    background-color: #9f308d;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: rgb(97, 10, 53);
}

.textos{
    color: white;
}